# MSBA 605-77 - Python for Analytics
## Problem Solving Exercise 1
### Logisitics
1. Get into your weekly group.
1. Discuss and complete the assignment __together__. Donâ€™t just assign different problems to each teammate! That defeats the purpose of team-based learning.
1. Choose a recorder to prepare the final copy to submit to instructor in Blackboard. __Only one person needs to submit__ on behalf of the team.

__Names of group members__: Jonathan Thompson,Aravind kumar Madavaram,pranith reddy thota.
__Due__: Sunday, October 8 (by 11:59 PM)

Add your code to the cells below. When finished, be sure to save your notebook, then _Close and Shutdown Notebook_ from the _File_ menu. Return to Blackboard and have recorder upload your completed Notebook file (`PSE1.ipynb`) on behalf of the group.

## Part 1

### Problem 1
Assign `3` to a variable named `a` and `2` to a variable named `b`. Print the `type` of these variables. (2 pts.)

In [ ]:
a = 3;
print(type(a))
b = 2;
print(type(b))

### Problem 2
Use the `is` operator to check if `a` and `b` refer to the same object. In a comment in your code, explain if this result matches your expectations. (3 pts.)

In [10]:
a = 10;
b = a;
a is b

True

### Problem 3
Assign `5` to two variables named `c` and `d`. Use the `is` operator to check if `c` and `d` refer to the same object. In a comment in your code, explain if this result matches your expectations. Review the [Small Integer Caching](https://realpython.com/lessons/small-integer-caching/) lesson to better understand what is happening here. (3 pts.)

In [11]:
c = 5;# Assigning the value 5 to the variable c
d = 5;# Assigning the value 5 to the variable d
c is d# checking c and d refer to the same object

True

### Problem 4
Create a variable `adivb` that is the result of `a` divided by `b` using `/` and print the type of the result. (2 pts.)

In [12]:
adivb = a/b;
print(type(adivb))

<class 'float'>

### Problem 5
Create a variable `afloorb` that is the result of `a` floor divided by `b` using `//` and print the type of the result. (2 pts.)

In [13]:
afloorb = a//b;
print(type(afloorb))

<class 'int'>

### Problem 6
Create a variable `amodb` that is the remainder of `a` divided by `b` using `%` and print the result. In a comment in your code, explain how this can be used to determine if an integer is even or odd. (3 pts.)

In [18]:
a = 6;
b = 4;
amodb = a%b;#if a%b = 0 the integer is even and if a%b != 0 the integer is odd
print(amodb)

2

### Problem 7
Create a variable named `trunc` that is the result of calling `int(6.57)` and print the result. In a comment in your code, explain if this result matches your expectations. Explore the [`round` function](https://docs.python.org/3/library/functions.html#round) for an alternative. (3 pts.)

In [28]:
trunc = int(6.57)#The result does not match our expectations because the expected result should be 6.57
print(trunc)

6

## Problem 8
Create a variable named `s` that stores the string `'hello'`. Print just the first letter from `s` using an index. (2 pts.)

In [33]:
s = "hello"
print(s[0])

h

### Problem 9
Try to change the first letter of `s` to the letter `m` using an index. In a comment in your code, explain what happened. (3 pts.)

In [50]:
s = "hello"
s[0] = "m"#You cannot assign the characters in a string.Strings are immutable. 
print(s)

TypeError: 'str' object does not support item assignment

### Problem 10
Create a variable named `b_result` and assign it the result of `7 > 5` and print the result. (2 pts.)

In [46]:
result = 7>5
b_result = result
print(b_result)

True

## Part 2

### Problem 1
In the code cell below, write a Python script that calculates the square and cube of each of the numbers from 1 to 10 (inclusive) using a `for` or `while` loop. Print the resulting values in tablular format, as shown below. Use the tab escape sequence (`\t`) to insert a tab between each value to achieve the 3-column output. (5 pts.)
#### Sample Output
```
Num	Square	Cube
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729
10	100	1000
```

In [12]:
number = 1
square = 1
cube = 1
print("number\tsquare\tcube")
for number in range(1,11):
    square = number * number
    cube = number * number * number
    print(f'{number}\t{square}\t{cube}')

number	square	cube
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729
10	100	1000

### Problem 2
In the code cell below, finish writing a Python script that inputs three integers from the user. Calculate and print the sum, average (mean), and product of the numbers. (5 pts.)
#### Sample Output
```
Enter 1st integer:  5
Enter 2nd integer:  10
Enter 3rd integer:  2


sum = 17
mean = 5.666666666666667
product = 100
```

In [32]:
num1 = int(input('Enter 1st integer: '))
num2 = int(input('Enter 2nd integer: '))
num3 = int(input('Enter 3rd integer: '))
sum = num1 + num2 +num3
print(f'sum = {sum} ')
mean = (num1 + num2 +num3)/3
print(f'mean = {mean}')
product = num1*num2*num3
print(f'product = {product}')

Enter 1st integer: 1
Enter 2nd integer: 2
Enter 3rd integer: 3
sum = 6
mean = 2.0
product = 6

### Problem 3
In the code cell below, finish writing a Python script that inputs three floats from  the user. Calculate and print the minimum and maximum of the numbers using conditional logic (`if` statements). __Hint__: To determine the minimum (or maximum value), assume the first number is the min (max) then compare it to the 2nd number. If the 2nd number is smaller (larger), you have a new min (max). Compare the current min (max) value to the 3rd number. If the 3rd number is smaller (larger), you have a new min (max). Don't just call the min (max) function to find these values. (5 pts.)
#### Sample Output
```
Enter 1st float:  1.5
Enter 2nd float:  3.9
Enter 3rd float:  0.2

min = 0.2
max = 3.9
```

In [35]:
num1 = float(input('Enter 1st float: '))
num2 = float(input('Enter 2nd float: '))
num3 = float(input('Enter 3rd float: '))


min = num1
if num2 < min:
    min = num2
if num3 < num2:
    min = num3
print(f'min = {min}')
max = num1
if num2 > max:
    max = num2
if num3 > num2:
    max = num3
print(f'max = {max}')

Enter 1st float: 3.0
Enter 2nd float: 2.0
Enter 3rd float: 4.0
min = 2.0
max = 4.0

### Problem 4
In the code cell below, write a Python script that inputs an integer dollar amount (from 1 - 99 for this application) to be withdrawn from our virtual ATM. You may assume that the user follows your directions for the input (namely, entering an integer between 1 and 99 inclusive). Calculate and print the number of bills of each denomination (twenties, tens, fives, and ones) that should be dispensed, minimizing the total number of bills used. Start with twenties and work your way down to ones. If no bills of a particular denomination are needed, skip that bill in the output using `if` statements. (10 pts.)
### Sample Output
<pre>
Welcome to the Virtual ATM!
Enter integer dollar amount (1 - 99): 94
    
Dispense:
4 twenties
1 tens
4 ones
</pre>

**Hint**: No _fives_ are printed in the above example because the entered dollar amount didn't require any. Your code, however, must include logic for every denomination (twenties, tens, fives, and ones). An easy way to approach this problem is with the use of floor division (`//`) and remainder (`%`) operations. In this example, the number of twenties needed is `94 // 20`, which gives 4. The remaining amount to be dispensed then is `94 % 20`, which is 14. The number of tens needed then is `14 // 10`, which gives 1. The remaining amount to be dispensed then is `14 % 10`, which is 4. The number of fives needed then is `4 // 5`, which gives 0 (so skip the output). The remaining amount to be dispensed then is `4 % 5`, which is still 4  but we know that should be dispensed as ones (since it's the lowest denomination left).

In [20]:
print("WELCOME TO THE VIRTUAL ATM!")
value = int(input("Enter integer dollar amount(1-99):"))
print("\n")
print("Dispense:")
if  1<= value <= 99:
    twenties = value//20
    value%=20
    tens = value//10
    value%=10
    fives = value//5
    value%=5
    ones = value
    if twenties > 0:
        print(f"{twenties} twenties")
    if tens > 0:
        print(f"{tens} tens")
    if fives > 0:
        print(f"{fives} fives")
    if ones > 0:
        print(f"{ones} ones")
else:
              print("Invalid amount please enter a dollar amount between 1-99")

WELCOME TO THE VIRTUAL ATM!
Enter integer dollar amount(1-99):99


Dispense:
4 twenties
1 tens
1 fives
4 ones